body {
    margin: 0;
    padding: 0;
    /* background-color: #17a2b8; */
    background-image: url("../imagem_login/fundo.png");
    background-repeat: no-repeat;
    height: 100vh;
  }
  #div_top{

    
    align:center;
    background-color:yellow;

    position: absolute;
    top: 50%; /* posiciona na metade da tela */
    margin-top: -25px; /* e retrocede metade da altura */
    left: 50%; /* posiciona na metade da tela */
    margin-left: -100px; /* e retrocede metade da largura */
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }